body {
  color: #000000;
  font-family: "Inter", sans-serif;
  margin: 0px;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 75px;
  align-items: center;
  background-color: #eeeeee;
}

.navbar img {
  width: 10%;
  padding: 10px;
}

.navbar span {
  background-color: #ef4b25;
  padding: 10px;
  border-radius: 5px;
}

.navbar #wallet {
  color: #ffffff;
  font-weight: bold;
}

/* --- LOTTERY CONTAINER --- */

.lottery-container {
  display: flex;
  flex-direction: row; /* row for regular and strong sections */
  justify-content: space-between;
  padding: 10px 50px;
}

/* -> REGULAR, STRONG SECTIONS */
.regular-section,
.strong-section {
  display: flex;
  flex-direction: column; /* column for titles and circles */
  width: 50%;
}

.regular-section h1,
.strong-section h1 {
  text-align: left;
}

/* -> REGULAR HEADER */
.regular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px 40px; /* padding to match the circles */
}

#regular-counter.completed {
  color: #ef4b25;
}

#regular-container {
  margin: 0px 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap; /* make circles go to the next line when div border is reached */
  gap: 10px;
  justify-content: center;
  border-top: 3px solid #eeeeee;
}

/* -> STRONG CONTAINER */
#strong-container {
  display: flex;
  flex-wrap: wrap; /* make circles go to the next line when div border is reached */
  width: fit-content; /* stop the div when the content is finished so the background will look better */
  justify-content: center;
  gap: 15px;
  background-color: #e4effe;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 0 auto; /* center the div relative to the main div */
}

/* --- LABEL CONTAINER --- */

label.container {
  display: flex;
  justify-content: center; /* x-axis center */
  align-items: center; /* y-axis center */
}

label.container h1 {
  color: #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- CIRCLES CONTAINER --- */

.container {
  position: relative;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0; /* make tickbox invisible */
  cursor: pointer;
}

/* -> CIRCLES */
.circle {
  height: 50px;
  width: 50px;
  background-color: #f0f0f0;
  border-radius: 50%; /* make a circle */
  transition: background-color 0.2s ease;
}

h1 {
  font-size: 24px;
}

/* -> REGULAR CIRCLES */
.container input:checked ~ .circle {
  background-color: #ef4b25;
}

.container input:checked ~ h1 {
  color: #ffffff;
}

/* -> DISABLED CIRCLE BEHAVIOR */
.container input:disabled ~ .circle {
  background-color: #aaaaaa;
}

.container input:disabled ~ h1 {
  color: #ffffff;
}

/* -> STRONG CIRCLES */
.strong-section .circle {
  background-color: #fefeff;
}

.strong-section .container input:checked ~ .circle {
  background-color: #388cff;
}

.strong-section .container input:disabled ~ .circle {
  background-color: #cccccc;
}

/* --- BUTTONS --- */
.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  font-family: inherit;
}

.buttons button {
  background-color: #ef4b25;
  font-weight: bold;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: #ff7a5d;
}

/* --- RESULT CONTAINER --- */

#result-container {
  margin-top: 20px;
  text-align: center;
}

.result-numbers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

#result-container .container {
  cursor: default;
}

.feedback {
  font-weight: bold;
  margin-top: 10px;
}

.feedback-success {
  color: green;
}

.feedback-failure {
  color: red;
}

/* --- MEDIA QUERIES --- */

/* -> TABLET */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .navbar img {
    width: 20%;
  }

  .lottery-container {
    flex-direction: column;
    padding: 10px 20px;
  }

  .regular-section,
  .strong-section {
    width: 100%;
  }

  .strong-section h1 {
    margin-top: 30px; /* add spacing between numbers and strong numbers now that they're both in a single column */
    text-align: center;
  }

  #regular-container {
    margin: 0 auto; /* re-center to middle of page */
    padding: 10px;
  }

  #strong-container {
    padding: 10px;
  }

  .buttons button {
    font-size: 18px;
    padding: 8px 16px;
  }
}

/* -> PHONE */
@media (max-width: 480px) {
  .navbar span {
    font-size: 12px;
    padding: 5px;
  }

  .navbar #wallet {
    font-size: 16px;
  }

  .circle {
    height: 50px;
    width: 50px;
    font-size: 10px;
  }

  .container h1 {
    font-size: 20px;
  }
}
