body {
  color: #ffffff;
  background-color: #1f2124;
  font-family: "Inter", sans-serif;
  margin: 0px;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  align-items: center;
  background-color: #25272b;
}

.navbar img {
  width: 10%;
  padding: 10px;
}

.navbar span {
  background-color: #44b119;
  padding: 10px;
  border-radius: 5px;
}

.navbar #wallet {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
}

/* --- LOTTERY CONTAINER --- */

.lottery-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.lottery-container > * {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#regular-container {
  width: 40%;
}

#strong-container {
  width: 5%;
}

/* --- LABEL CONTAINER --- */

label.container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

label.container h1 {
  color: #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- CIRCLES CONTAINER --- */

.container {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  flex-basis: calc(100% / 7); /* Distribute evenly; adjust the divisor as needed */
  text-align: center; /* Center text inside the circle */
}

.container input {
  position: absolute;
  opacity: 0; /* make tickbox invisible */
  cursor: pointer;
}

/* --- CIRCLES --- */
.circle {
  height: 70px;
  width: 70px;
  background-color: #cccccc;
  border-radius: 50%; /* make a circle */
  transition: background-color 0.2s ease;
}

/* -> CHOSEN CIRCLE BEHAVIOR */
.container input:checked ~ .circle {
  background-color: #44b119;
}

.container input:checked ~ h1 {
  color: #ffffff;
}

/* -> DISABLED CIRCLE BEHAVIOR */
.container input:disabled ~ .circle {
  background-color: #555555;
}

.container input:disabled ~ h1 {
  color: #ffffff;
}

/* --- BUTTONS --- */

.buttons button {
  background-color: #44b119;
  font-weight: bold;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #3a9714;
}
