body {
  color: #000000;
  font-family: "Inter", sans-serif;
  margin: 0px;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 75px;
  align-items: center;
  background-color: #eeeeee;
}

.navbar img {
  width: 10%;
  padding: 10px;
}

.navbar span {
  background-color: #ef4b25;
  padding: 10px;
  border-radius: 5px;
}

.navbar #wallet {
  color: #ffffff;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
}

/* --- LOTTERY CONTAINER --- */

.lottery-container {
  display: flex;
  flex-direction: row; /* row for regular and strong sections */
  justify-content: space-between;
  padding: 10px 50px;
}

/* -> REGULAR, STRONG SECTIONS */
.regular-section,
.strong-section {
  display: flex;
  flex-direction: column; /* column for titles and circles */
  width: 50%;
}

.regular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px 40px; /* padding to match the circles */
}

#regular-counter.completed {
  color: #ef4b25;
}

.regular-section h1,
.strong-section h1 {
  text-align: left;
}

#regular-container {
  margin: 0px 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap; /* make circles go to the next line when div border is reached */
  gap: 10px;
  justify-content: center;
  border-top: 3px solid #eeeeee;
}

#strong-container {
  display: flex;
  flex-wrap: wrap; /* make circles go to the next line when div border is reached */
  width: fit-content; /* stop the div when the content is finished so the background will look better */
  justify-content: center;
  gap: 15px;
  background-color: #e4effe;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 0 auto; /* center the div relative to the main div */
}

/* --- LABEL CONTAINER --- */

label.container {
  display: flex;
  justify-content: center; /* x-axis center */
  align-items: center; /* y-axis center */
}

label.container h1 {
  color: #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- CIRCLES CONTAINER --- */

.container {
  position: relative;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0; /* make tickbox invisible */
  cursor: pointer;
}

/* -> CIRCLES */
.circle {
  height: 50px;
  width: 50px;
  background-color: #f0f0f0;
  border-radius: 50%; /* make a circle */
  transition: background-color 0.2s ease;
}

h1 {
  font-size: 1.5rem;
}

/* -> REGULAR CIRCLES */
.container input:checked ~ .circle {
  background-color: #ef4b25;
}

.container input:checked ~ h1 {
  color: #ffffff;
}

/* -> DISABLED CIRCLE BEHAVIOR */
.container input:disabled ~ .circle {
  background-color: #aaaaaa;
}

.container input:disabled ~ h1 {
  color: #ffffff;
}

/* -> STRONG CIRCLES */
.strong-section .circle {
  background-color: #fefeff;
}

.strong-section .container input:checked ~ .circle {
  background-color: #388cff;
}

.strong-section .container input:disabled ~ .circle {
  background-color: #cccccc;
}

/* --- BUTTONS --- */
.buttons button {
  font-family: inherit;
}

.buttons button {
  background-color: #ef4b25;
  font-weight: bold;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ef4b25;
}
